*~
#*
*#
apptainer-*.tar.gz
e2fsprogs-*
fuse-overlayfs-*
gocryptfs-*
squashfuse-*
*.m4
*.pyc
*.swp

.vscode
.DS_store
builddir/
vendor/**
internal/pkg/buildcfg/config.go
apptainer.spec
trash.lock
Makefile.in
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/apptainer
etc/apptainer.conf
etc/Makefile
etc/Makefile.in
examples/plugins/test-plugin/*.so
examples/plugins/test-plugin/*.sif
examples/plugins/test-plugin/*.manifest

/debian

LICENSE_DEPENDENCIES.csv
