enable=all
disable=SC1083  # (warning): This { is literal. Check expression (missing ;/\n?) or quote it.
disable=SC1083  # (warning): This } is literal. Check expression (missing ;/\n?) or quote it.
disable=SC1090  # (warning): ShellCheck can't follow non-constant source. Use a directive to specify location.
disable=SC1091  # (info): Not following: ./basechecks.chk was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: ./config_h.sh was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: ./project-post.chk was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: ./project-pre.chk was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: /.inject-apptainer-env.sh was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: /.singularity.d/env/99-runtimevars.sh was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: /environment was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: /scif/apps/singularity/scif/env/01-base.sh was not specified as input (see shellcheck -x).
disable=SC1091  # (info): Not following: /scif/apps/singularity/scif/env/90-environment.sh was not specified as input (see shellcheck -x).
disable=SC2006  # (style): Use $(...) notation instead of legacy backticks `...`.
disable=SC2015  # (info): Note that A && B || C is not if-then-else. C may run when A is true.
disable=SC2016  # (info): Expressions don't expand in single quotes, use double quotes for that.
disable=SC2028  # (info): echo may not expand escape sequences. Use printf.
disable=SC2034  # (warning): appsec appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): cflags_opts appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): do_go_version_check appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): hstgo_opts appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): hstld appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): hststatic appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): tgtcc_opts appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): tgtcxx_opts appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): tgtstatic appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): user_cflags appears unused. Verify use (or export if used externally).
disable=SC2034  # (warning): with_seccomp_check appears unused. Verify use (or export if used externally).
disable=SC2046  # (warning): Quote this to prevent word splitting.
disable=SC2059  # (info): Don't use variables in the printf format string. Use printf '..%s..' "$foo".
disable=SC2064  # (warning): Use single quotes, otherwise this expands now rather than when signalled.
disable=SC2086  # (info): Double quote to prevent globbing and word splitting.
disable=SC2089  # (warning): Quotes/backslashes will be treated literally. Rewrite using set/"$@" or functions.
disable=SC2090  # (warning): Quotes/backslashes in this variable will not be respected.
disable=SC2129  # (style): Consider using { cmd1; cmd2; } >> file instead of individual redirects.
disable=SC2153  # (info): Possible misspelling: CFLAGS may not be assigned. Did you mean cflags?
disable=SC2153  # (info): Possible misspelling: LDFLAGS may not be assigned. Did you mean ldflags?
disable=SC2154  # (warning): APPTAINER_E2E_COVERAGE is referenced but not assigned.
disable=SC2154  # (warning): APPTAINER_NAME is referenced but not assigned.
disable=SC2154  # (warning): CFLAGS is referenced but not assigned (did you mean 'cflags'?).
disable=SC2154  # (warning): CGO_CFLAGS is referenced but not assigned.
disable=SC2154  # (warning): CGO_CPPFLAGS is referenced but not assigned.
disable=SC2154  # (warning): CGO_CXXFLAGS is referenced but not assigned.
disable=SC2154  # (warning): CGO_LDFLAGS is referenced but not assigned.
disable=SC2154  # (warning): E2E_DOCKER_MIRROR is referenced but not assigned.
disable=SC2154  # (warning): E2E_DOCKER_MIRROR_INSECURE is referenced but not assigned.
disable=SC2154  # (warning): E2E_DOCKER_PASSWORD is referenced but not assigned.
disable=SC2154  # (warning): E2E_DOCKER_USERNAME is referenced but not assigned.
disable=SC2154  # (warning): FORCE_E2E is referenced but not assigned.
disable=SC2154  # (warning): GO_ARCH is referenced but not assigned.
disable=SC2154  # (warning): LDFLAGS is referenced but not assigned (did you mean 'ldflags'?).
disable=SC2154  # (warning): OS_TYPE is referenced but not assigned.
disable=SC2154  # (warning): OS_VERSION is referenced but not assigned.
disable=SC2154  # (warning): SINGULARITY_SHELL is referenced but not assigned.
disable=SC2154  # (warning): appsec is referenced but not assigned.
disable=SC2154  # (warning): bindir is referenced but not assigned.
disable=SC2154  # (warning): build_runtime is referenced but not assigned.
disable=SC2154  # (warning): builddir is referenced but not assigned.
disable=SC2154  # (warning): cflags_opts is referenced but not assigned.
disable=SC2154  # (warning): contribdir is referenced but not assigned.
disable=SC2154  # (warning): cryptsetup_path is referenced but not assigned.
disable=SC2154  # (warning): datadir is referenced but not assigned.
disable=SC2154  # (warning): datarootdir is referenced but not assigned.
disable=SC2154  # (warning): do_go_version_check is referenced but not assigned.
disable=SC2154  # (warning): docdir is referenced but not assigned.
disable=SC2154  # (warning): dvidir is referenced but not assigned.
disable=SC2154  # (warning): exec_prefix is referenced but not assigned.
disable=SC2154  # (warning): host is referenced but not assigned.
disable=SC2154  # (warning): hostgo is referenced but not assigned (did you mean 'hstgo'?).
disable=SC2154  # (warning): hst_arch is referenced but not assigned.
disable=SC2154  # (warning): hst_word is referenced but not assigned.
disable=SC2154  # (warning): hstcc_opts is referenced but not assigned.
disable=SC2154  # (warning): hstcxx_opts is referenced but not assigned.
disable=SC2154  # (warning): hstgo_opts is referenced but not assigned.
disable=SC2154  # (warning): hstgo_preferred_version is referenced but not assigned.
disable=SC2154  # (warning): hstgo_version is referenced but not assigned.
disable=SC2154  # (warning): htmldir is referenced but not assigned.
disable=SC2154  # (warning): includedir is referenced but not assigned.
disable=SC2154  # (warning): infodir is referenced but not assigned.
disable=SC2154  # (warning): lang_c is referenced but not assigned.
disable=SC2154  # (warning): ldflags is referenced but not assigned.
disable=SC2154  # (warning): libdir is referenced but not assigned.
disable=SC2154  # (warning): libexecdir is referenced but not assigned.
disable=SC2154  # (warning): localedir is referenced but not assigned.
disable=SC2154  # (warning): localstatedir is referenced but not assigned.
disable=SC2154  # (warning): makeit_scriptsdir is referenced but not assigned.
disable=SC2154  # (warning): makeit_testprogdir is referenced but not assigned.
disable=SC2154  # (warning): mandir is referenced but not assigned.
disable=SC2154  # (warning): oldincludedir is referenced but not assigned.
disable=SC2154  # (warning): package_name is referenced but not assigned.
disable=SC2154  # (warning): package_version is referenced but not assigned.
disable=SC2154  # (warning): pdfdir is referenced but not assigned.
disable=SC2154  # (warning): prefix is referenced but not assigned.
disable=SC2154  # (warning): psdir is referenced but not assigned.
disable=SC2154  # (warning): runstatedir is referenced but not assigned.
disable=SC2154  # (warning): sbindir is referenced but not assigned.
disable=SC2154  # (warning): sharedstatedir is referenced but not assigned.
disable=SC2154  # (warning): sourcedir is referenced but not assigned.
disable=SC2154  # (warning): sudo_args is referenced but not assigned.
disable=SC2154  # (warning): sysconfdir is referenced but not assigned.
disable=SC2154  # (warning): tgt_arch is referenced but not assigned.
disable=SC2154  # (warning): tgt_word is referenced but not assigned.
disable=SC2154  # (warning): tgtcc is referenced but not assigned.
disable=SC2154  # (warning): user_cflags is referenced but not assigned.
disable=SC2154  # (warning): with_seccomp_check is referenced but not assigned.
disable=SC2154  # (warning): with_suid is referenced but not assigned.
disable=SC2155  # (warning): Declare and assign separately to avoid masking return values.
disable=SC2166  # (warning): Prefer [ p ] && [ q ] as [ p -a q ] is not well defined.
disable=SC2166  # (warning): Prefer [ p ] || [ q ] as [ p -o q ] is not well defined.
disable=SC2236  # (style): Use -n instead of ! -z.
disable=SC2240  # (warning): The dot command does not support arguments in sh/dash. Set them as variables.
disable=SC2248  # (style): Prefer double quoting even when variables don't contain special characters.
disable=SC2249  # (info): Consider adding a default *) case, even if it just exits with error.
disable=SC2250  # (style): Prefer putting braces around variable references even when not strictly required.
disable=SC2292  # (style): Prefer [[ ]] over [ ] for tests in Bash/Ksh.
disable=SC2312  # (info): Consider invoking this command separately to avoid masking its return value (or use '|| true' to ignore).
disable=SC2329  # (info): This function is never invoked. Check usage (or ignored if invoked indirectly).
disable=SC3003  # (warning): In POSIX sh, $'..' is undefined.
disable=SC3014  # (warning): In POSIX sh, == in place of = is undefined.
disable=SC3043  # (warning): In POSIX sh, 'local' is undefined.
disable=SC3044  # (warning): In POSIX sh, 'declare' is undefined.
disable=SC3044  # (warning): In POSIX sh, 'shopt' is undefined.
disable=SC3046  # (warning): In POSIX sh, 'source' in place of '.' is undefined.
disable=SC3053  # (warning): In POSIX sh, indirect expansion is undefined.
