# Copyright (c) 2021 Apptainer a Series of LF Projects LLC
#   For website terms of use, trademark policy, privacy policy and other
#   project policies see https://lfprojects.org/policies
singularity
